@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-skyblue-color: #1090cb;
  --primary-background-color: #e8f4fa;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Nav bar */
header {
  padding: 25px 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: var(--primary-skyblue-color);
  font-weight: 800;
  font-size: x-large;
}

.navigations {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 70px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.active {
  color: var(--primary-skyblue-color) !important;
}

.btn-primary {
  background-color: var(--primary-skyblue-color);
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 80px;
  background-color: var(--primary-background-color);
}

.hero-content {
  max-width: 40%;
}

.hero-content h1 {
  font-size: 2.4rem;
  line-height: 1.5;
}

.hero-content .highlight {
  color: var(--primary-skyblue-color);
}

.hero-content p {
  color: #555;
  font-size: 15px;
  line-height: 2.2;
  margin: 20px 0 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.hero-btn-primary {
  background-color: var(--primary-skyblue-color);
  border: none;
  padding: 10px 50px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.btn-outline {
  background: white;
  color: var(--primary-skyblue-color);
  border: 1px solid var(--primary-skyblue-color);
  padding: 10px 50px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Services Section */

.services {
  display: flex;
  padding: 40px 80px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.service-card {
  display: flex;
}

.service-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0px 15px;
}

.service-heading {
  font-weight: bold;
}

.service-description {
  color: #a4a4a4;
  font-size: 15px;
}

.icon-container {
  padding: 15px 20px;
  border-radius: 14px;
}

.web-app {
  background-color: #efeaff;
}

.seo {
  background-color: #ecffda;
}

.immersive {
  background-color: #dae6ff;
}

.mobile-app {
  background-color: #ffe5da;
}

/* Centered Heading */
.intro-text {
  text-align: center;
  padding: 60px 20px;
}

.intro-text h2 {
  font-size: xx-large;
  word-spacing: 5px;
  font-weight: 800;
  margin-bottom: 15px;
}

.intro-text p {
  font-size: 15px;
  color: #666;
  word-spacing: 3px;
  line-height: 1.6;
}

/* Info Section */

.info-section {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.happy-green {
    background-color: #08d3bb;
    border-radius: 100%;
    padding: 15px 17px;
}

.info-image {
    display: flex;
    justify-self: start;
}

.info-content {
  margin-top: 2rem;
  max-width: 70%;
}

.info-content h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

.info-content .highlight {
  color: var(--primary-skyblue-color);
}

.info-content p {
  color: #555;
  font-size: 15px;
  line-height: 1.8;
  margin: 20px 0 30px;
}


.info-section2 {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 100px;
}

.happy-blue {
    background-color: #1090cb;
    border-radius: 100%;
    padding: 15px 17px;
}

.happy-purple {
    background-color: #9208d3;
    border-radius: 100%;
    padding: 15px 17px;
}