@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-skyblue-color: #1090cb;
  --primary-background-color: #e8f4fa;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Nav bar */
header {
  padding: 25px 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: var(--primary-skyblue-color);
  font-weight: 800;
  font-size: x-large;
}

.navigations {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 70px;
}

.nav-links a:hover {
  color: #0088cc;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.active {
  color: var(--primary-skyblue-color) !important;
}

.btn-primary {
  background-color: var(--primary-skyblue-color);
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #23b2f4;  
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 80px;
  background-color: var(--primary-background-color);
}

.hero-content {
  max-width: 40%;
}

.hero-content h1 {
  font-size: 2.4rem;
  line-height: 1.5;
}

.hero-content .highlight {
  color: var(--primary-skyblue-color);
}

.hero-content p {
  color: #555;
  font-size: 15px;
  line-height: 2.2;
  margin: 20px 0 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.hero-btn-primary {
  background-color: var(--primary-skyblue-color);
  border: none;
  padding: 10px 50px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.hero-btn-primary:hover {
  transform: scale(1.1);
}

.btn-outline {
  background: white;
  color: var(--primary-skyblue-color);
  border: 1px solid var(--primary-skyblue-color);
  padding: 10px 50px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-outline:hover {
  transform: scale(1.1);
}

/* Services Section */

.services {
  display: flex;
  padding: 40px 80px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid #d4d4d4;
}

.service-card {
  display: flex;
}

.service-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0px 15px;
}

.service-heading {
  font-weight: bold;
}

.service-description {
  color: #a4a4a4;
  font-size: 15px;
}

.icon-container {
  padding: 15px 20px;
  border-radius: 14px;
}

.web-app {
  background-color: #efeaff;
}

.seo {
  background-color: #ecffda;
}

.immersive {
  background-color: #dae6ff;
}

.mobile-app {
  background-color: #ffe5da;
}

/* Centered Heading */
.intro-text {
  text-align: center;
  padding: 60px 20px;
}

.intro-text h2 {
  font-size: xx-large;
  word-spacing: 5px;
  font-weight: 800;
  margin-bottom: 15px;
}

.intro-text p {
  font-size: 15px;
  color: #666;
  word-spacing: 3px;
  line-height: 1.6;
}

/* Info Section */

.info-section {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.happy-green {
  background-color: #08d3bb;
  border-radius: 100%;
  padding: 15px 17px;
}

.info-image {
  display: flex;
  justify-self: start;
}

.info-content {
  margin-top: 2rem;
  max-width: 70%;
}

.info-content h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

.info-content .highlight {
  color: var(--primary-skyblue-color);
}

.info-content p {
  color: #555;
  font-size: 15px;
  line-height: 1.8;
  margin: 20px 0 30px;
}

.info-section2 {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 100px;
}

.happy-blue {
  background-color: #1090cb;
  border-radius: 100%;
  padding: 15px 17px;
}

.happy-purple {
  background-color: #9208d3;
  border-radius: 100%;
  padding: 15px 17px;
}

/* Dual Cards Section */
.dual-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38rem;
  padding: 45px 35px;
  border-radius: 20px;
  gap: 30px;
  line-height: 2;
}

.card-heading {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  width: 50%;
}

.card-description {
  width: 80%;
}

.light-card {
  background-color: #f4f4f4;
}

.blue-card {
  background-color: var(--primary-skyblue-color);
  color: white;
}

.card-btn-light {
  background-color: var(--primary-skyblue-color);
  border: none;
  padding: 15px 50px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.card-btn-light:hover {
  transform: scale(1.1);
}

.card-btn-outline {
  background: white;
  color: var(--primary-skyblue-color);
  border: 1px solid var(--primary-skyblue-color);
  padding: 15px 50px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.card-btn-outline:hover {
  transform: scale(1.1);
}

.card-btn-container {
  margin-top: 5px;
}

/* Company Logos Section */

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.companies-heading {
  font-weight: bold;
  font-size: large;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.logo-row img {
  height: 11rem;
  object-fit: contain;
  cursor: pointer;
}

/* NewsLetter Section */

.newsletter {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 80px 20px;
}

.newsletter-heading {
  display: flex;
  text-align: center;
  font-size: x-large;
  word-spacing: 3px;
  font-weight: bold;
  width: 25vw;
  line-height: 2.3rem;
}

.subscribe-box {
  display: flex;
  gap: 10px;
}

.subscribe-box input {
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 300px;
  font-size: 15px;
  color: #555;
  box-shadow: 0px 8px 15px rgba(170, 170, 170, 0.2);
}

.subscribe-btn {
  background-color: black;
  color: white;
  padding: 15px 23px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.subscribe-btn:hover {
  background-color: var(--primary-skyblue-color);
}

/* Footer Section */

.footer-content {
  margin: 80px 5% 50px 5%;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.footer-logo a {
  text-decoration: none;
  color: #002394;
  font-weight: 800;
  font-size: x-large;
}

.footer-logo a:hover {
  color: var(--primary-skyblue-color);
}

.footer-section-logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  word-spacing: 2px;
  color: #555;
}

.footer-heading {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-heading:hover {
  color: var(--primary-skyblue-color);
}

.footer-contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-section-about ul {
  list-style: none;
}
.footer-section-about ul li {
  margin-bottom: 10px;
}

.footer-section-about ul li a {
  color: #555;
  text-decoration: none;
}

.footer-section-about a:hover {
  text-decoration: underline;
}

.footer-section-contact {
  gap: 30px;
  width: 23%;
  word-spacing: 2px;
}

.footer-section-contact div{
  color: #555;
}

.footer-section-contact div p {
  margin-bottom: 30px;
}

.social-icons {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
  color: black;
  height: 25px;
  background-color: white;
  box-shadow: 3px 5px 10px rgb(202, 202, 202);
  border-radius: 100%;
  padding: 7px 10px;
}

.social-icons a:hover {
  background-color: var(--primary-skyblue-color);
  color: white;
}

.footer-bottom {
  text-align: center;
  padding: 30px 0px;
  border-top: 1px solid #d5d5d5;
}

.footer-bottom {
  color: #808080;
}